<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About me</title>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>

    <body>
        <p>
            <a href="/">Home</a>
            <a href="/about">About me</a>
            <a href="/portfolio">Portfolio</a>
        </p>
        <br>
        <h1 class="h1">Sabine Fraunberger</h1>
        <br>
        <hr class="hr">
        <h3 class="h3">Infos</h3>
        <p><b>Wohnort:</b> Wien</p>
        <p><b>Alter:</b> 30+</p>
        <p><b>Über mich:</b> Ich trinke gerne Kaffee.</p>
        <p><b>Hobbies:</b></p>
        <ul>
            <li>lesen</li>
            <li>wandern</li>
            <li>fotografieren</li>
        </ul>
        <hr class="hr">
        <p><strong>Kleine Einblicke:</strong>
        <br>
        <img src="/static/img/Nebel.jpg" alt="Nebel im Gebirge">
        <img src="/static/img/Winter.jpg" alt="Schneelandschaft">
        <img src="/static/img/Vogel.jpg" alt="Blaumeise sitzt auf Hand">

    </body>
</html>