<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <p>
            <a href="/">Home</a>
            <a href="/about">About me</a>
            <a href="/portfolio">Portfolio</a>
        </p>
        <h1>Hallo Welt</h1>
        <br>
        <img class="main_picture" src="/static/img/img_0805a.jpg" alt="Frau beim Spaziergang">
        <br>
    </body>
</html>