<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>

    <body>
        <p>
            <a href="/">Home</a>
            <a href="/about">About me</a>
            <a href="/portfolio">Portfolio</a>
        </p>
        <p><strong>Portfolio:</strong></p>
        <p><a href="https://github.com/sabinefraunberger/WD1_lektion_2_css_basics">fakebook</a></p>
        <p><a href="https://github.com/sabinefraunberger/WD1_lektion_3_boogle">boogle</a></p>
    </body>
    </html>